# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/test-output/
*.log
*.txt
*.xml
Logger.log
*.DS_Store
testng.xml
/.gradle/
/build/
*.json
*.csv
.csv
/.csv/
capabilities.json
