<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="10" name="Lucky_PROD_Suite" parallel="tests" >

    <listeners>
         <!-- <listener class-name="com.Listeners.InvokedMethodListener"/>
         <listener class-name="com.Listeners.InvokedSuiteListener"/> -->
         <listener class-name="com.Listeners.TestListener"/>
     </listeners>

     <test name="ios">
        <parameter name="platForm" value="IOS"/>
        <parameter name="deviceName" value="Bqat's iPhone"/>
        <parameter name="udid" value="auto"/>
        <parameter name="port" value="4723"/>
        <parameter name="app" value="Lucky"/>
        <parameter name="env" value="NONE"/>
        <parameter name="p_Testdata" value="src/test/resources/Lucky_Database.txt"/>
        <classes>
<!--         	<class name="other.testcases.testflightscript"/> -->
      

        </classes>
    </test>

    <test name="Android">
       <parameter name="platForm" value="Android"/>
       <parameter name="udid" value="R58N70GGVZH"/>
       <parameter name="port" value="4723"/>
       <parameter name="app" value="Lucky"/>
       <parameter name="env" value="NONE"/>
       <parameter name="p_Testdata" value="src/test/resources/Lucky_Database.txt"/>
       <classes>
       
          <class name="other.testcases.playstorescript"/>
          
      </classes>
   </test>


</suite>
